include README.md
include LICENSE
# Project description needed in source distribution since used by 'setup.py'
# (eg, to build/cache binary distribution when installing from source distribution with 'pip install <sdist>')...
include docs/project_description.txt
recursive-include pybacktrack/bundle_data *
