include README.rst
include LICENSE
recursive-include pybacktrack/bundle_data *
recursive-include pybacktrack/example_data *
recursive-include pybacktrack/test_data *
recursive-include pybacktrack/notebooks *
recursive-include pybacktrack/supplementary *
recursive-include tests *
prune pybacktrack/notebooks/.ipynb_checkpoints
prune tests/__pycache__
